<div class="content" role="main">
	<div *ngFor="let item of items">
		<app-item [name]="item.name" [id]="item.id" [type]="item.type" [loanPeriod]="item.loanPeriod" [quantity]="item.quantity"></app-item>
		<button (click)="editItem(item)">edit {{item.name}}</button>
		<br>
		<br>
	</div>

	<div *ngIf="editingItem">
		<h2>Editor</h2>
		<p>currently updating <b>{{editingItem.name}}</b></p>
		<label>loan period</label>
		<input [(ngModel)]="editLoanPeriod " #ctrl="ngModel" type="number">
		<br>
		
		<label>quantity</label>
		<input [(ngModel)]="editQuantity" #ctrl="ngModel" type="number">
		<br>

		<button (click)="updateItem()">update</button>
	</div>

</div>

<router-outlet></router-outlet>